.container
  .col-md-12
    %h1 Listing folders

  .col-md-2
    -if user_signed_in?
      = render partial: 'menu_opt'
  .col-md-10
    %ul.listing
      - @folders.each do |folder|
        %li
          = link_to folder_path(folder) do
            = fa_icon 'folder-o'
            = folder.name

      - if @folders.blank?
        %b No files or folders

-if user_signed_in?
  = render 'modal_new_folder'

