.container
  .col-md-12
    %br
    = render partial: 'layouts/breadcrumb', locals: { folder: @folder }
  .col-md-2
    .menu_opt
      = link_to 'New document', new_document_path(folder: @folder),  {:remote => true, :data => { :toggle => 'modal', :target => '#modal-new-doc'},  :class => 'btn btn-block'}
    -if user_signed_in?
      = render partial: 'menu_opt'
  .col-md-10
    %ul.listing

      - @folder.children.each do |folder|
        %li
          = link_to folder_path(folder) do
            = fa_icon 'folder-o'
            = folder.name

      - @folder.documents.each do |doc|
        %li
          = link_to full_link(doc.file_url) do
            = fa_icon 'file'
            = doc.file_identifier
          -if user_signed_in?
            = link_to edit_document_path(doc) do
              = fa_icon 'edit'
            = link_to doc, method: 'delete' do
              = fa_icon 'trash'

      - if @folder.parent_id
        %li
          = link_to folder_path(@folder.parent_id) do
            = fa_icon 'arrow-left'
            = '..'
      - else 
        %li
          = link_to folders_path do
            = fa_icon 'arrow-left'
            = '..'
      
= render 'modal_new_doc'

-if user_signed_in?
  = render 'modal_new_folder'



