%h1 Editing document

current folder :
= render partial: 'layouts/breadcrumb', locals: { folder: @document.folder }

= simple_form_for @document, :html => {:multipart => true} do |f|
  = f.error_notification

  .form-inputs
    = f.input :file
    = f.association :folder, :prompt => "(select if none)"

  .form-actions
    = f.button :submit, class: "btn"

= link_to 'Show', @document
\|
= link_to 'Back', documents_path
