%h1 Listing documents

%table.table.table-bordered
  %tr
    %th Name
    %th file
    %th creation date


  - @documents.each do |doc|
    %tr
      %td
        = image_tag image_path('mini_file.png')
        = doc.name
      %td= link_to doc.file_identifier, doc.file_url
      %td= doc.created_at

%br

= link_to 'New Document', new_document_path, :class => "btn btn-xs btn-primary"
