-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Folders', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse

      - if user_signed_in?
        %ul.nav.navbar-nav
          %li= link_to 'Documents', documents_path
          %li= link_to "Users", users_path
          %li= link_to 'Logout', destroy_user_session_path, method: :delete
      - else
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to 'Administrator only', new_user_session_path
